body {
  background: linear-gradient(100deg, #002337 10%, #2e4368 100%, #ffffff 100%);
}



.brightness-Toggle-Icon {
  width: 15vw;
  color: rgb(0, 88, 212);
  max-height: 15vw;
  padding: 1em;
}

.logo {
  line-height: 2;
}

.app {
  position: relative;
  z-index: 1;
}


main,
header,
footer {
  position: relative;
  z-index: 1;
}

.digital-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: transparent;
}

.navbar {
  position: relative;
  z-index: 100;
}